<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a499_android">

    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true"/>
    <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="true"/>

    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.499_android">
        <activity android:name=".ViewResponseR">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminLanding" />
        </activity>
        <activity android:name=".ViewResponseO">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminLanding" />
        </activity>
        <activity android:name=".AddSurveyQuestions">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminLanding" />
        </activity>
        <activity android:name=".AddSurveyQuestionsCount">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminLanding" />
        </activity>
        <activity android:name=".AddSurveyQuestionsMC">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminLanding" />
        </activity>
        <activity android:name=".PreviewNewSurvey">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminLanding" />
        </activity>
        <activity android:name=".AddVideos">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminLanding" />
        </activity>
        <activity android:name=".ViewResponseUser">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminLanding" />
        </activity>
        <activity android:name=".AdminMsgList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminLanding" />
        </activity>
        <activity android:name=".ViewResponses">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminLanding" />
        </activity>
        <activity android:name=".Tidbits">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminLanding" />
        </activity>
        <activity android:name=".AdminLanding">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LandingPage" />
        </activity>
        <activity android:name=".GetResponseListQuery">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminLanding" />
        </activity>
        <activity android:name=".SelectASurvey">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminLanding" />
        </activity>
        <activity android:name=".LoadPreviousSurvey">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminLanding" />
        </activity>

        <activity android:name=".StartExercise" />
        <activity android:name=".CreateAccount" />
        <activity android:name=".Agreement" />
        <activity android:name=".SelectSchedule" />
        <activity android:name=".UpdateSchedule" />
        <activity android:name=".LandingPage" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".IntroVideo"/>
        <activity android:name=".FinishedExerciseActivity" />
        <activity android:name=".SelectAvatar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LandingPage" />
        </activity>
        <activity android:name=".VideoDemonstrations">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LandingPage" />
        </activity>
        <activity android:name=".MessageAdmin">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LandingPage" />
        </activity>
        <activity android:name=".SurveyResponse" />
        <activity android:name=".DetermineQuestionType" />
        <activity android:name=".SurveyMultiC" />
        <activity android:name=".UploadSurvey" />
        <activity android:name=".SurveyOneTen" />
        <receiver android:name=".NotificationReceiver" />

        <activity android:name=".StartExerciseM">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LandingPage" />
        </activity>
        <activity android:name=".SelectWorkout" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>